.DepositPress {
    display: flex;
    /* flex-direction: row; */
    /*Nyt logik*/
    flex-direction: column;
    gap: 10px;
    z-index: 2;

}



.ResetButton:hover {
    background-color: #5159ed;
}




.DepositInput::placeholder {
    color: white;
    font-style: italic;
}


.DepositButton{
    width: 100px;;
}
