.CoinFlipGamePage-container, .SlotsGamePage-container{
    width: 100vw;           
    height: 100vh;
    display: flex;       
    flex-direction: column;
    overflow: hidden;  
    justify-content: space-between;
    box-sizing: border-box;
}

.CoinFlipGamePage-game{
     display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.CrashGamePage-container {
  display: flex;
  flex-direction: column;
  align-items: center;       /* centrerer horisontalt */
  justify-content: center;   /* centrerer vertikalt */
  padding: 0;
  margin: 0;
  gap: 20px;                 /* afstand mellem crash-container og footer */
}


.crash-page-content {
  display: flex;
  justify-content: center;   /* horisontal centering */
  align-items: center;       /* vertikal centering */
  height: 350px;             /* matcher crash-container */
  margin: 0;
}
