.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: #293953 solid 2px;
    background-color: #1a2434;
    height: 100px;
}

.header-nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 30px;
    margin-right: 20px;
}



.header-balance{
    margin-top: 25px;
    margin-left: 20px;


}


.header-deposit {
    margin-top: 29px;
    width: 200px;
}

.header-money-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}