.Homepage-container{
    width: 100vw;           /* Brug viewport width i stedet for 100% */
    height: 100vh;
    display: flex;       
    flex-direction: column;
    overflow: hidden;  
    justify-content: space-between;
    box-sizing: border-box;
}

.Homepage-games{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}