.rootOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;

    /*For at centrere containeren*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

/* For Deposit Info*/
.Deposit-container {
    display: flex;
    /* flex-direction: row; */

    /*Nyt logik*/
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
    padding: 50px;
    border-radius: 20px;
    background-color: #1e293b;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);

}

.DepositInput {
    border-radius: 15px;
    height: 40px;
    width: 150px;
    text-align: center;
    border: transparent;
    background-color: #2b3a54;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.ResetButton {
    width: 80px;
    height: 40px;
    border-radius: 15px;
    border: transparent;
    font-weight: bold;
    color: white;
    background-color: #2b3a54;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}




.Settingspage-limit-popup{
    display: flex;
    /* flex-direction: row; */
    /*Nyt logik*/
    flex-direction: column;
    gap: 10px;
    z-index: 2;
    
}


/* For Deposit Info*/
.Limit-container {
    display: flex;
    /* flex-direction: row; */

    /*Nyt logik*/
    flex-direction: column;
    width: 100%;
    margin-top: 150px;
    align-items: center;
    gap: 10px;
    padding: 50px;
    border-radius: 20px;
    background-color: #1e293b;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
}


.LimitInput {
    border-radius: 15px;
    height: 40px;
    width: 150px;
    text-align: center;
    border: transparent;
    background-color: #2b3a54;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}


.setLimit-btn {
    width: 80px;
    height: 40px;
    border-radius: 15px;
    border: transparent;
    font-weight: bold;
    color: white;
    background-color: #2b3a54;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.setLimit-btn:hover {
    background-color: #5159ed;
}

.LimitInput::placeholder {
    color: #ffffff;
    font-style: italic;
}